<% include partials/header.ejs %>

    <!--Byron Essert-->

    <main class="container">
        <h1><%= title %></h1>
        <h2>Byron Essert</h2>
        <img src="/images/byronessert.jpg" alt="byronEssert" width="60%">
        <p>
            "I skateboard about everyday. In the racing world I am known as the “come-up kid” – you know, the new one on the racing scene,
            but with decent results. When I’m not skateboarding or traveling I’m probably hanging out with my family or enjoying
            a fresh pastry at the bakery.
            <br>
            <br> I want to spark interest about skateboarding in people and spread the love of skating.
        </p>
        <img src="/images/byronmh.jpg" alt="byronatmaryhill" width="50%">
        <p>
            In addition to my love of skating, I try to support the Juvenile Diabetes Research Foundation (JDRF) because
            they do a lot of work to help out kids and families with type 1 diabetes. They work around the world making a
            diabetic and their families' lives less stressful, including my family and me. I have been a type 1 diabetic
            for 13 years.
            <br>
            <br> I am a happy guy, always looking to have a good time and focus on the positive side of things. Skateboarding
            has given me more than I can ever repay it.
            <br>
            <br> Skate for life."
        </p>

        <p>
            Words by Byron Essert and for more information about Byron, visit his
            <a href="http://www.byronessert.com">website</a>!
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/vadOLQPGtFk" frameborder="0" allowfullscreen></iframe>
    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>

        <!--/Users/itsmefuji/Desktop/comp2068-w2016-midterm -->