<% include partials/header.ejs %>

<!--Home Page -->

<style>
    p { text-align: center }
    h1 { text-align: center }
</style>

    <main class="container">
        
        <div class="jumbotron">
            <h1>MY FAVORITE PEOPLE</h1>
            <p>Yuji Fujiyama's Favorite People Website</p>
            
            <center> <img src="/images/boardmeeting.jpg" alt="patrickSwitzer" width="70%"> </center>
            <br>
            <p><a class="btn btn-primary" href="/byron" role="button">View my Favorite People.</a></p>
        </div>


    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %> 