<% include partials/header.ejs %>

    <!--Services Page-->

    <main class="container">
        <h1><%= title %></h1>
        <h2>JAMES KELLY</h2>
        <div class="one">
            <img src="/images/jk.jpg" width="70%">
            <p>
                A classic downhill skateboarder. He has been around since the beginning of teh sport and is known to have one of the most
                ditinguishable styles in the world.
                <br> Everyone knows what his backside check's look like... its just a norm.
            </p> 

            <img src="/images/jamesbs.jpg" width="50%">

            <p>
                He is one of my favorite riders to ride with and to watch. When I visited the west in 2015, James hosted a group of guys
                including myself to travel and skate along the north west. We went from Whistler, BC, Canada all the way
                down to Goldendale, Washington, USA.
                <br>
                <br> Although he is a famous, well-known pro rider, he is very welcoming and is very nice to all the people he
                riders with or just hangs out with.
                <br> If you ever doubt his riding techniques or his lack in style, just watch the video below and prepare to
                be blown away. He will prove you wrong in his short, intense 4min video.
            </p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/BwFek4V5aP4" frameborder="0" allowfullscreen></iframe>

    </main>



    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>