<% include partials/header.ejs %>

    <!--Patrick Switzer-->

    <main class="container">
        <h1><%= title %></h1>
        <h2>Patrick Switzer</h2>
        <img src="/images/patrickswitzer.jpg" alt="patrickSwitzer" width="60%">
        <p>
            A world-known downhill skateboarder who travels, exmplores and skates everything in his path.
            <br>
            <br> He is one of my favorite riders as he originates from Ontario, Canada and although the east coast is not the
            best for downhill skateboarding, he represents the east coast as good as anyone could ever do.
            <br>
            <br> His technique mixed with his own style allows him to standout in a crowd and performs as he grew up in the west.
            He is easily one of everyone's favorite riders will be as long as he keeps riding and keeps doing what he does
            best.
            <br>
            <br> Skateboard. 
        </p>

        <p> If you want to learn more about Patrick Switzer, please visit his
            <a href="http://www.patrickswitzer.com">website</a>! </p>
            
<iframe width="560" height="315" src="https://www.youtube.com/embed/dt0Yh0Noy4M" frameborder="0" allowfullscreen></iframe>

    </main>

    <!-- include partials allows you to link the footer/header to the main -->
    <% include partials/footer.ejs %>